.card-color{
    background-color: #89898c;
    // height: 100px !important;
    text-align: center;
    font-weight: bold;
}
.card-color1{
    background-color: #89898c;
    color: white;
    text-align: center;
    height: 130px !important;
}
.card-icon{
    margin-top: 17px;
    font-size: 43px;
}

.wedo-img{
    width: 100%;
}
